.bg-splash{
    border-radius:0px; 
    background-image:url('splash_image.jpg'); 
    background-size:cover; 
    background-position: bottom;
    background-repeat:no-repeat; 
    height: 100%;
    width:100%;
    position: absolute;
    z-index: -1;
}
.login-box{
    position: absolute;
    top: calc(50% - 200px);
    width: 700px;
    height: 400px;
    left: calc(50% - 350px);
    background-color: rgba(0,0,0,0.8);
    border-color: #fff;
    border-style: solid;
    border-width: 3px;
}
.login-box p{
    margin: 50px;
    font-size: 20px;
    color:white;
}
.login-box p span{
    font-style: italic;
}
.drake{
    font-family: 'Bad Script', cursive;
    color: red;
    font-size: 50px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}
.loginbutton{
    width: 300px;
    height: 120px;
    background-color: rgba(0,0,0,0);
    border-color: #fff;
    border-radius: 0;
    border-width: 5px;
    position: absolute;
    left: calc(50% - 150px);
    top: 200px;
}

.loginbutton span{
    position: absolute;
    line-height: 0;
    margin: 0;
    padding: 0;
    top:40px;
    left: 0;
    font-size: 28px;
    width: 100%;
    text-align: center;
    color: white;
}
.loginbutton:hover{
    background-color: #0056ac;
}
.login-box{
    position: absolute;
    top: calc(50% - 200px);
    width: 700px;
    height: 400px;
    left: calc(50% - 350px);
    background-color: rgba(0,0,0,0.8);
    border-color: #fff;
    border-style: solid;
    border-width: 3px;
}