<div class="std-spacer"></div>
<div class="container bg-dark" style="position: relative;">
    <div class="page-header">
        <h1>Explore the World</h1>
        <div class="btn rec" ng-click="main.gotorec()">Recommendations</div>
    </div>
    <div style="overflow:scroll; height:460px;">
        <div ng-class="row">
            <div class="col-sm-4" ng-repeat="item in main.flights" ng-if="$index!=14">
                <div class="panel panelsupp" style="height:300px; position:relative;" ng-class="'i'+$index" ng-click="main.goto($index)">
                    <div class="darken">
                        <div class="panel-heading">
                            <h1>{{item.dest}}</h1>
                        </div>
                        <div class="panel-body pull-right">
                            <span style="font-size:30px; position:absolute; right:10px; bottom:10px;">
                                ${{item.price}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>